{% set mediaElements = [
    'name',
    'difficulty',
    'confrontation',
    'description',
    'rating',
    'position',
    'price',
    'played',
    'goals',
    'assists',
    'yellowCards',
    'redCards',
] %}
    <div class="row">
        {% for file in page.files %}
            <div class="col-sm-12 col-md-6 col-lg-3 games-padding-bottom">
                <div class="card games-dark-gb" id="{{ file.path }}">
                    {% set fileNameSplit = file.filename|split('.') %}
                    {% set fileName = fileNameSplit[0]|title|replace({'-': ' '}) %}

                    {% if file.embedHtml is defined %}
                        {{ file.embedHtml|replace({
                            'width="560"': 'width="100%"',
                            'height="315"': 'height="auto"'
                        })|raw }}
                    {% else %}
                        {% set fileSrc = loop.index < 13 ? file.slug : site.url ~ '/images/spinner.gif' %}
                        {% set fileClass = loop.index < 13 ? 'media_icon card-img-top' : 'media_icon card-img-top lazy' %}
                        <a href="{{ file.slug }}"
                            class="btn button"
                            data-lightbox="{{ page.slug }}"
                            data-title="{{ file.filename }}"
                            title="{{ file.filename }}">
                            <img alt="{{ file.slug }}" data-src="{{ file.slug }}" src="{{ fileSrc }}"
                                    class="{{ fileClass }}" onError="this.onerror=null;this.src='{{ site.url }}/images/not-found.png';">
                        </a>
                    {% endif %}
                    <div class="card-body games-dark-gb">
                        <h5>
                            {% if file.slug %}
                                <a href="{{ file.slug }}" target="_blank" title="Open in new tab">{{ fileName }}</a>
                            {% else %}
                                {{ fileName }}
                            {% endif %}
                        </h5>
                        <p class="text-muted">
                            Date: <a><b>{{ file.date }}</b></a>
                            <br>Update: <a><b>{{ file.path }}</b></a>
                        </p>

                        {% if file.medias|length > 0 %}
                            <p>
                                <button class="btn btn-secondary" type="button" data-toggle="collapse"
                                        data-target="#collapseExample{{ file.filename }}"
                                        aria-expanded="false" aria-controls="collapseExample{{ file.filename }}">
                                    Medias details
                                </button>
                            </p>
                            <div class="collapse" id="collapseExample{{ file.filename }}">
                                {% for media in file.medias %}
                                    <p class="text-muted">
                                        {% for element in mediaElements %}
                                            {% if attribute(media, element) %}
                                                {{ element|capitalize }}: <b>{{ attribute(media, element) }}</b><br>
                                            {% endif %}
                                        {% endfor %}

                                        {% if media.teams|length > 0 %}
                                            {{ "teams"|capitalize }}: <b>{{ media.teams ? media.teams|join(', ') : 'n/a' }}</b><br>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for playlist in page.playlists %}
            <div class="col-sm-12 col-md-6 col-lg-3 games-padding-bottom">
                <div class="card games-dark-gb" id="{{ playlist.title }}">
                    {{ playlist.embedHtml|replace({
                        'width="640"': 'width="100%"',
                        'height="360"': 'height="auto"',
                        'http': 'https'
                    })|raw }}
                    <div class="card-body games-dark-gb">
                        <h5>{{ playlist.title }}</h5>
                        <p class="text-muted">
                            Published At: <a><b>{{ playlist.publishedAt }}</b></a>
                            <br>Update: <a><b>{{ playlist.title }}</b></a>
                        </p>

                        {% if playlist.medias|length > 0 %}
                            <p>
                                <button class="btn btn-secondary" type="button" data-toggle="collapse"
                                        data-target="#collapseExample{{ playlist.title }}"
                                        aria-expanded="false" aria-controls="collapseExample{{ playlist.title }}">
                                    Medias details
                                </button>
                            </p>
                            <div class="collapse" id="collapseExample{{ playlist.title }}">
                                {% for media in playlist.medias %}
                                    <p class="text-muted">
                                        {% for element in mediaElements %}
                                            {% if attribute(media, element) %}
                                                {{ element|capitalize }}: <b>{{ attribute(media, element) }}</b><br>
                                            {% endif %}
                                        {% endfor %}

                                        {% if media.teams|length > 0 %}
                                            {{ "teams"|capitalize }}: <b>{{ media.teams ? media.teams|join(', ') : 'n/a' }}</b><br>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
