{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article>
        <h1>{{ page.title }}</h1>
        {% set postCover = site.s3_games_base_url ~ page.url ~ '.png' %}
        <p>
            <img alt="{{ page.title }}" src="{{ postCover }}" class="cover" onError="this.onerror=null;this.src='{{ site.url }}/images/not-found.png';">
        </p>
        <p class="text-muted">
            {% if page.french_title %}
                French title: <b>{{ page.french_title }}</b><br>
            {% endif %}
            Date: <b>{{ page.date|date('d/m/Y') }}</b><br>
            Files: <b>{{ page.files|length }}</b><br>
            Playlists: <b>{{ page.playlists|length }}</b><br>
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">
                <b>{{ category }}</b>{% if not loop.last %},&nbsp;{% endif %}
            </a>
            {% endfor %}
            <br>
            Tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">
                <b>{{ tag }}</b>
            </a>{% if not loop.last %},&nbsp;{% endif %}
            {% endfor %}
        </p>
        
        <div class="sticky-top games-dark-gb">
            <p class="text-muted">
                <a data-toggle="collapse" class="btn" data-target="#collapseUpdates" aria-expanded="false" aria-controls="collapseUpdates">&raquo; <b>See updates</b></a>
                <div class="collapse" id="collapseUpdates">
                    {% for update in page.updates %}
                        <a href="#{{ update }}"><b>{{ update|replace({(page.title): "..."}) }}</b></a><br>
                    {% endfor %}
                </div>
            </p>
        </div>

        <div>
            {{ page.blocks.content|raw }}
        </div>
        {% if page.previous_post %}
            <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                <span class="title">&laquo;&nbsp;{{ page.previous_post.title }}</span>
            </a>
        {% endif %}
        |
        {% if page.next_post %}
            <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                <span class="title">{{ page.next_post.title }}&nbsp;&raquo;</span>
            </a>
        {% endif %}
    </article>
{% endblock %}
