<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %}&nbsp;-&nbsp;{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
        <link rel="manifest" href="{{ site.url }}/site.webmanifest">
        <link rel="mask-icon" href="{{ site.url }}/safari-pinned-tab.svg" color="#000000">
        <meta name="msapplication-TileColor" content="{{ site.url }}#ffffff">
        <meta name="theme-color" content="{{ site.url }}#ffffff">
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        {% block head_styles %}
            <link href="{{ site.url }}/css/games.css" rel="stylesheet" type="text/css" />
        {% endblock %}
        {% block scripts %}
            <script defer src="{{ site.url }}/js/games.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
                    let active = false;

                    const lazyLoad = function() {
                        if (active === false) {
                            active = true;

                            setTimeout(function() {
                                lazyImages.forEach(function(lazyImage) {
                                    if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                                        lazyImage.src = lazyImage.dataset.src;
                                        lazyImage.classList.remove("lazy");

                                        lazyImages = lazyImages.filter(function(image) {
                                            return image !== lazyImage;
                                        });

                                        if (lazyImages.length === 0) {
                                            document.removeEventListener("scroll", lazyLoad);
                                            window.removeEventListener("resize", lazyLoad);
                                            window.removeEventListener("orientationchange", lazyLoad);
                                        }
                                    }
                                });

                                active = false;
                            }, 200);
                        }
                    };

                    document.addEventListener("scroll", lazyLoad);
                    window.addEventListener("resize", lazyLoad);
                    window.addEventListener("orientationchange", lazyLoad);
                });
            </script>
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-VP9802T77G"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'G-VP9802T77G');
            </script>
        {% endblock %}
    </head>
    <body>
        <header id="backToTop">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.url }}/blog">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.url }}/blog/categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.url }}/blog/tags">Tags</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="mainContent container">
            {% block content_wrapper %}
                {% block content %}{% endblock %}
                <div class="row no-margin">
                    <div class="table-responsive">
                        <table class="table sortable">
                            <thead>
                            <tr>
                                {% block table_rows %}{% endblock %}
                            </tr>
                            </thead>
                            <tbody>
                                {% block table_body %}{% endblock %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- row -->
            {% endblock %}
        </div>
        <div class="fixed-bottom text-right">
            <a href="#backToTop" title="Back to top">
                <img alt="Arrow up" src="{{ site.url }}/images/white-arrow-png-41945.png" id="totop-img">
            </a>
        </div>
        <footer class="container">
            <p>
                &copy;&nbsp;{{ "now"|date("Y") }}
                {{ site.title }}
                - Realization <a href="{{ site.portfolio_link }}" target="_blank">Anthony Dessalles</a>
            </p>
        </footer>
    </body>
</html>
