---
layout: default
title: Category
generator: [posts_category_index, pagination]
pagination:
    provider: page.category_posts
---
{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/categories/{{ page.category|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.category }}' category feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block content %}
  <h1>{{ page.pagination.items|length }} {{ page.title }} "{{ page.category }}"</h1>
{% endblock %}
{% block table_rows %}
  <th data-defaultsort="asc">Name</th>
  <th>Date</th>
{% endblock %}
{% block table_body %}
  {% for post in page.pagination.items %}
    {% set link = site.url ~ post.url %}
    <tr>
      <td>
        <a href="{{ link }}">{{ post.title }}</a>
      </td>
      <td>{{ post.date|date('Y_m_d') }}</td>
    </tr>
  {% endfor %}
  <div>
    {% if page.pagination.previous_page or page.pagination.next_page %}
    <hr>
    <nav class="article clearfix">
      {% if page.pagination.previous_page %}
      <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page">
        <span class="title">&laquo; Previous Page</span>
      </a>
      {% endif %}
      |
      {% if page.pagination.next_page %}
      <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page">
        <span class="title">Next Page &raquo;</span>
      </a>
      {% endif %}
    </nav>
    {% endif %}
  </div>
{% endblock %}
