---
layout: default
title: Categories
use:
    - posts_categories
---
{% block content %}
	<h1>{{ data.posts_categories|length }} {{ page.title }}</h1>
{% endblock %}

{% block table_rows %}
	<th data-defaultsort="asc">Name</th>
{% endblock %}

{% block table_body %}
	{% for category,posts in data.posts_categories %}
		{% set link = site.url ~ '/blog/categories/' ~ category|url_encode(true) %}
		<tr>
			<td>
				<a href="{{ link }}" title="{{ category }}">{{ category }}</a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}
