---
layout: default
title: Tags
use:
    - posts_tags
---
{% block content %}
	<h1>{{ data.posts_tags|length }} {{ page.title }}</h1>
{% endblock %}

{% block table_rows %}
	<th data-defaultsort="asc">Name</th>
{% endblock %}

{% block table_body %}
	{% for tag,posts in data.posts_tags %}
		{% set link = site.url ~ '/blog/tags/' ~ tag|url_encode(true) %}
		<tr>
			<td>
				<a href="{{ link }}" title="{{ tag }}">{{ tag }}</a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}
