---
layout: default
title: Posts
generator: pagination
pagination:
    max_per_page: 999
use:
    - posts
---
{% block content %}
    <h1>{{ page.pagination.items|length }} {{ page.title }}</h1>
{% endblock %}

{% block table_rows %}
    <th data-defaultsort="asc">Name</th>
    <th>Date</th>
{% endblock %}

{% block table_body %}
    {% for post in page.pagination.items %}
        {% set link = site.url ~ post.url %}
        <tr>
            <td>
                <a href="{{ link }}">{{ post.title }}</a>
            </td>
            <td>{{ post.date|date('Y_m_d') }}</td>
        </tr>
    {% endfor %}
{% endblock %}
