---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 999
use:
    - posts
---
{% block content %}
    <h1 id="backToTop">{{ site.title }}</h1>
    <p>At this moment, the website contains <b>{{ page.pagination.items|length }}</b> posts.</p>
    <div class="row">
        {% for post in page.pagination.items %}
            {% set link = site.url ~ post.url %}
            {% set postCover = site.s3_games_base_url ~ post.url ~ '.png' %}
            <div class="col-sm-12 col-md-6 col-lg-2 games-padding-bottom">
                <div class="overlay-image">
                    <a href="{{ link }}" title="{{ post.title }}">
                        {% if loop.index < 51 %}
                            <img alt="{{ post.title }}" src="{{ postCover }}" class="home_img" onError="this.onerror=null;this.src='{{ site.url }}/images/not-found.png';">
                        {% else %}
                            <img alt="{{ post.title }}" src="{{ site.url }}/images/spinner.gif" class="home_img lazy" data-src="{{ postCover }}" onError="this.onerror=null;this.src='{{ site.url }}/images/not-found.png';">
                        {% endif %}
                        <div class="normal">
                            <div class="text">
                                {{ post.title }}
                            </div>
                        </div>
                        <div class="hover">
                            <div class="text">
                                {{ post.title }}
                                <br>{{ post.date|date('M d, Y') }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
